<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
	<menuContribution
           locationURI="menu:net.bioclipse.ui.menu.search?after=additions">
           <command
                 commandId="net.bioclipse.openphacts.ui.search"
                 label="Search OpenPHACTS"
                 icon="icons/ops-icon16.png">
           </command>
     </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
         <command
               id="net.bioclipse.openphacts.ui.search"
               defaultHandler="net.bioclipse.openphacts.ui.SearchHandler"
               name="Search OpenPHACTS">
         </command>
   </extension>
   

</plugin>
